@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
@model RPG_IB2_WebApplication2.Models.LoginViewModel
<div class="bg">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/images/VolgendeBeurtRPG.png" id="icon" alt="RPG Icon" />
            </div>
            <!-- Login Form -->
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div>
                    <label asp-for="Email" hidden></label>
                    <input asp-for="Email" type="text" class="fadeIn second" placeholder="Email">
                    <br />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password" hidden></label>
                    <input asp-for="Password" type="password" class="fadeIn third" placeholder="Password">
                    <br />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </div>

            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" asp-action="Register">Register</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}