@{
    ViewData["Title"] = "Game Menu";
}

<p class="font-weight-bold">Gamemenu</p>
<br />
<br />
<a asp-controller="Game" asp-action="NewGame">
    <input type="submit" value="New Game" class="btn btn-default" />
</a>
<a asp-controller="Game" asp-action="Gamewereld">
    <input type="submit" value="Load Game" class="btn btn-default" />
</a>
