@{
    ViewData["Title"] = "Home Page";
}

<p class="titelGamemenu">HomePage</p>
<br />
<div class="slider">
    
</div>
<p style="font-size: 20px">
    Welkom op de officiële website van de game: Kingdom Warriors.
    <br /> <br />
    Deze game heb ik gemaakt, omdat het een goed en leuk alternatief is
    t.o.v. de andere games. Bovendien is het gratis voor iedereen.
    <br /><br />
    In dit spel is het de bedoeling dat je jouw Personage zo machtig
    mogelijk maakt door de aankoop en verkoop van items en door
    jouw Personage te upgraden naar het hoogste niveau.
    <br /><br />
    Deze game is gemaakt door Luuk van der Steen.<br />
    Fontys Hogeschoolen HBO-ICT Semester 2.
</p>